* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    margin: 3px;
}

.left .home {
    padding-bottom: 40px;
}

.logo>img {
    width: 50px;
    cursor: pointer;
}

.right {
    width: 75vw;
    height: 100vh;
    margin: 3px;
    position: relative;
}

.home ul li {
    height: 20px;
    width: 20px;
    display: flex;
    gap: 15px;
    padding-top: 40px;
    font-weight: bold;
}

.home {
    padding-top: 10px;
}
.songslist{
    max-height: 60vh;
    margin-bottom: 30px;
}
.library {
    padding-top: 10px;
    max-height: 85vh;
    position: relative;
}

.home ul li img {
    height: 20px;
    width: 20px;
}

.playlistbtn {
    height: 20px;
    width: 20px;
}

.playlist {
    display: flex;
    gap: 20px;
    /* border: 2px solid white; */
}

.playlist h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: lighter;

    cursor: pointer;
}

.playlist h4 {
    opacity: 0.65;
}

.maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.maincontainer h2 {
    width: 30px;
    font-weight: lighter;
    font-size: 33px;
    cursor: pointer;
}

.footer {
    display: flex;
    gap: 15px;
    font-size: 10px;
    justify-content: start;
    /* corrected to valid CSS */
    align-items: center;
    /* added for vertical alignment */
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: gray;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #27252582;
    border-radius: 8px;
    width: 100%;
}

.header>* {
    padding: 20px;
}

.right {
    margin-top: 5px;
    padding: 12px;
}

.signin {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid black;
    cursor: pointer;
}

.signin:hover {
    transform: scale(1.05);
}

.signup:hover {
    transform: scale(1.05);
}

.signup {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    background-color: #1db954;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.leftbtn {
    width: 40px;
    height: 40px;
    /* added height for consistency */
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.rightbtn {
    width: 40px;
    height: 40px;
    /* added height for consistency */
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.leftbtn:hover {
    opacity: 1;
}

.rightbtn:hover {
    opacity: 1;
}

.hamburgerContainer {
    display: flex;
    gap: 20px;
}

.spotifyPlaylists {
    padding: 10px 20px;
    /* border: 2px solid white; */
}

.card {
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #26272582;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 15px;
    object-fit: contain;
    cursor: pointer;
    position: relative;
    height: 300px;
    /* transition: all 2s ease-in-out; */
}


.card:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.card img {
    width: 170px;
    border-radius: 10px;
    /* margin-top: 10px; */
    background-color: #1db954;
    color: #1db954;
}

.card>h2,
p {
    padding-top: 10px;
}

.playlistcontainer {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 0px;
    /* padding: 10px; */
    /* border: 2px solid white; */
    max-height: 70vh;
    min-height: 35vh;
    overflow: auto;
    overflow-x: hidden;
    /* border: 2px solid white; */
}

.card>div>img {
    border-radius: 50%;
    width: 40px;
    position: absolute;
    bottom: 104px;
    right: 23px;
    border: 1px solid white;
}

.card>div>img:hover {
    transform: scale(120%);
}

.playbar {
    position: absolute;
    bottom: 25px;
    margin-right: 20px;
    /* border: #ffffff 2px solid; */
    border-radius: 15px;
    background-color: #535151;
    height: 70px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.playbtns {
    gap: 10px;
    display: flex;
    /* added display property for flex layout */
}


.songctrlbtns {
    width: 40px;
    height: 40px;
    /* added height for consistency */
    border: 2px solid white;
    border-radius: 50%;

    cursor: pointer;
}

.songslist ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;


    /* margin-left: 20px; new line added for left margin */
}

.songslist ul li {
    height: 50px;
    display: flex;
    /* gap: 20px; */
    /* padding: 4px 0px; */
    border: 1px solid white;
    border-radius: 8px;
    margin: 10px 0px;
    padding: 5px 5px;
    overflow: hidden;
    cursor: pointer;
}

.songinfoli {
    display: flex;
    justify-content: space-around;

    align-items: center;
    /* gap: 10px; added gap for spacing between elements */
}

.playnow {
    display: flex;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
}

.playnowbtn {
    width: 30px;
    height: 30px;
    /* added height for consistency */
    /* border: 6px solid black; */
    outline: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}

.playnowbtn:hover {
    transform: scale(1.2);
}

.playnow div {
    font-size: 12px;
}

.songname {
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.songimg {
    display: flex;
    gap: 10px;
}

.songinfoli .songinfo .songname {
    width: 120px;
}

.songslist {
    height: 550px;
    overflow: auto;
    overflow-x: hidden;
    /* border: 2px solid white; */

}

.seekbar {
    height: 5px;
    width: 95%;
    /* border: 2px solid red; */
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    background-color: red;
    margin-bottom: 4px;
    cursor: pointer;
}

.seekbar .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    /* added position for placement */
    top: -3px;
    /* adjusted top position */
    left: 0px;
    /* aligned to the left */
}

.songinfocontainer {
    position: absolute;
    left: 5px;
    top: 5px;
    gap: 10px;
    color: #1db954;
    text-shadow: #1db954 0px 0px 5px;


}

.playbtns *:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
.hamburger{
    display: none;
}

@media(max-width:1200px) {
    .left {
        position: absolute;
        left: -100%;
        transition: ease-out 0.5s;
        z-index: 1;
        background-color: #27252582;
        width: 300px;
    }
    .right{
        width: 94vw;
        margin: 0 0;
        z-index: 0;
    }
    .hamburger{
        display: block;
        
        cursor: pointer;
    }
    .card{
        width: 120px;
        height: 170px;
        margin-bottom: 7px;
        font-size: 10px;
        padding:15px /* corrected padding-top value */
    }
    .card img{
        width: 80px;
        /* transform: scale(0.95); */
    }
    .playbar{
        position: absolute;
        display: flex;
        gap: 20px;
        left: 10px;
    }
    .playbtns{
        position: absolute;
        right: 30px;
    }
    .buttons{
        display: inline-block;
    }
    .cardplaybtn{
        position: absolute;
        top: 160px;
        right: 0px;
        width: 25px;
        height: 25px;
        
    }
    .leftbtn ,.rightbtn{
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
    .hamburgerContainer{
        display: flex;
        gap: 5px;
        justify-content: center;
    }
    .buttons{
        display: flex;
        padding-right: 2px;
    }
    .signin ,.signup{
        width: 70px;
        height: 40px;
        font-size: 12px;
    }
    .songinfocontainer{
        width: 300px;
    }
    .volumeduration input{
        width: 50px;
        color: orangered;
    }

}
.closebtn{
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
    width: 35px;

    transition: transform 0.2s;
}
.volumeduration{
    display: flex;
    gap: 10px;
}
.volume{
    cursor: pointer;
    color: white;
}
